<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>Arthur Carvalho dos Santos</h1>
</header>
  
<nav>
  <ul>
    <li><a href="/inicial">Início</a></li><br>
    <li><a href="/educacao">Educação</a></li><br>
    <li><a href="/ativcompl">Atividades Complementares</a></li><br>
    <li><a href="/certificados">Bolsas e Certificados</a></li><br>
    <li><a href="/exp_prof">Experiência Profissional</a></li><br>
    <li><a href="/idiomas">Idiomas</a></li><br>
    <li><a href="/informatica">Conhecimentos de Informática</a></li>
  </ul>
</nav>

<article>

  <h1>Dados Pessoais</h1>
  <b>Data de Nascimento:</b> 08 Abril 1994
  <br>
  <b>Endereço:</b> QE 15 Conjunto B Casa 21, 71050-020, Guará, Brasília, Brasil
  <br>
  <b>Telefone:</b> <a href="tel:+5561974008158">+55 61 97400-8158</a>
  <br>
  <b>Email:</b> <a href="mailto:arthurcarvalhosantos@gmail.com">arthurcarvalhosantos@gmail.com</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</article>

<%= yield %>
<footer></footer>

</div>


</body>
</html>